<a href="https://colab.research.google.com/github/sri976/SML-2303A52033/blob/main/SML_ASS_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data=pd.read_csv('/content/drive/MyDrive/archive.zip')

#print(data)

columns=['battery_power', 'clock_speed', 'mobile_wt', 'talk_time', 'price_range']

data-data.loc[:,columns]

data.head()

print(data)

#data2-pd.read_csv('/content/drive/MyDrive/archive.zip')

#datal.head()

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [ ]:
print(data)
data.tail(-1)
xa=np.max(data)
print(xa)
xb=np.min(data)

print(xb)

for i in data: data[i]=(data[i]-xb)/(xa-xb)
print(data)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]
3998.0
0.0
      battery_power     blue  clock_speed  dual_sim        fc   four_g  \
0          0.210605  0.00000     0.000550   0.00000  0.000250  0.00000
1          0.255378  0.00025     0.000125   0.00025  0.000000  0.00025
2          0.140820  0.00025     0.000125   0.00025  0.000500  0.00025
3          0.153827  0.00025     0.000625   0.00000  0.000000  0.00000
4          0.455478  0.00025     0.000300   0.00000  0.003252  0.00025
...             ...      ...          ...       ...       ...      ...
1995       0.198599  0.00025     0.000125   0.00025  0.000000  0.00025
1996       0.491496  0.00025     0.000650   0.00025  0.000000  0.00000
1997       0.477989  0.00000     0.000225   0.00025  0.000250  0.00025
1998       0.378189  0.00000     0.000225   0.00000  0.001001  0.00025
1999       0.127564  0.00025     0.000500   0.00025  0.001251  0.00025

      int_memory     m_dep  mobile_wt   n_cores  ...  px_height  px_width  \
0       0.001751  0.000150   0.047024  0.000500  ...   0.005003  0.189095
1       0.013257  0.000175   0.034017  0.000750  ...   0.226363  0.497249
2       0.010255  0.000225   0.036268  0.001251  ...   0.315908  0.429215
3       0.002501  0.000200   0.032766  0.001501  ...   0.304152  0.446723
4       0.011006  0.000150   0.035268  0.000500  ...   0.302151  0.303152
...          ...       ...        ...       ...  ...        ...       ...
1995    0.000500  0.000200   0.026513  0.001501  ...   0.305653  0.472736
1996    0.009755  0.000050   0.046773  0.001001  ...   0.228864  0.491496
1997    0.009005  0.000175   0.027014  0.002001  ...   0.217109  0.408204
1998    0.011506  0.000025   0.036268  0.001251  ...   0.084042  0.167584
1999    0.011256  0.000225   0.042021  0.001501  ...   0.120810  0.188594

           ram      sc_h      sc_w  talk_time  three_g  touch_screen     wifi  \
0     0.637569  0.002251  0.001751   0.004752  0.00000       0.00000  0.00025
1     0.658079  0.004252  0.000750   0.001751  0.00025       0.00025  0.00000
2     0.651076  0.002751  0.000500   0.002251  0.00025       0.00025  0.00000
3     0.692596  0.004002  0.002001   0.002751  0.00025       0.00000  0.00000
4     0.352926  0.002001  0.000500   0.003752  0.00025       0.00025  0.00000
...        ...       ...       ...        ...      ...           ...      ...
1995  0.167084  0.003252  0.001001   0.004752  0.00025       0.00025  0.00000
1996  0.508254  0.002751  0.002501   0.004002  0.00025       0.00025  0.00025
1997  0.764632  0.002251  0.000250   0.001251  0.00025       0.00025  0.00000
1998  0.217359  0.004502  0.002501   0.004752  0.00025       0.00025  0.00025
1999  0.980240  0.004752  0.001001   0.000500  0.00025       0.00025  0.00025

      price_range
0         0.00025
1         0.00050
2         0.00050
3         0.00050
4         0.00025
...           ...
1995      0.00000
1996      0.00050
1997      0.00075
1998      0.00000
1999      0.00075

[2000 rows x 21 columns]

In [ ]:
features=['battery_power', 'clock_speed', 'mobile_wt', 'talk_time']



x=data.loc[:, features]

y=data.loc[:, 'price_range']

print(x)

print(y)

      battery_power  clock_speed  mobile_wt  talk_time
0          0.210605     0.000550   0.047024   0.004752
1          0.255378     0.000125   0.034017   0.001751
2          0.140820     0.000125   0.036268   0.002251
3          0.153827     0.000625   0.032766   0.002751
4          0.455478     0.000300   0.035268   0.003752
...             ...          ...        ...        ...
1995       0.198599     0.000125   0.026513   0.004752
1996       0.491496     0.000650   0.046773   0.004002
1997       0.477989     0.000225   0.027014   0.001251
1998       0.378189     0.000225   0.036268   0.004752
1999       0.127564     0.000500   0.042021   0.000500

[2000 rows x 4 columns]
0       0.00025
1       0.00050
2       0.00050
3       0.00050
4       0.00025
         ...
1995    0.00000
1996    0.00050
1997    0.00075
1998    0.00000
1999    0.00075
Name: price_range, Length: 2000, dtype: float64

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

print(x_train)

print(y_train)

print(x_test)

print(y_test)

      battery_power  clock_speed  mobile_wt  talk_time
582        0.308154     0.000725   0.042271   0.004002
159        0.460230     0.000125   0.035518   0.002501
1827       0.423212     0.000525   0.026513   0.001751
318        0.127064     0.000200   0.023512   0.001751
708        0.244372     0.000700   0.041271   0.002501
...             ...          ...        ...        ...
835        0.306153     0.000400   0.039270   0.003252
1216       0.289645     0.000175   0.030765   0.003752
1653       0.297649     0.000500   0.023262   0.002251
559        0.297899     0.000600   0.042271   0.002001
684        0.176588     0.000125   0.027014   0.001001

[1600 rows x 4 columns]
582     0.00000
159     0.00025
1827    0.00075
318     0.00000
708     0.00075
         ...
835     0.00075
1216    0.00025
1653    0.00075
559     0.00000
684     0.00025
Name: price_range, Length: 1600, dtype: float64
      battery_power  clock_speed  mobile_wt  talk_time
405        0.363682     0.000125   0.020760   0.001251
1190       0.273137     0.000125   0.041771   0.002751
1132       0.381191     0.000450   0.043522   0.003252
731        0.451976     0.000525   0.031266   0.003252
1754       0.271636     0.000425   0.027764   0.004252
...             ...          ...        ...        ...
638        0.238869     0.000125   0.035768   0.002251
360        0.202351     0.000200   0.022761   0.000750
1810       0.148574     0.000650   0.049025   0.004252
1743       0.418459     0.000400   0.045523   0.005003
563        0.322661     0.000125   0.035768   0.003752

[400 rows x 4 columns]
405     0.00075
1190    0.00000
1132    0.00050
731     0.00050
1754    0.00050
         ...
638     0.00025
360     0.00025
1810    0.00000
1743    0.00050
563     0.00025
Name: price_range, Length: 400, dtype: float64

In [ ]:
size_x=x.size

size_y=y.size

print(size_x)

print(size_y)

print(data.size)

print('The shape of the data is ',data.shape)

print('The X shape of the data is ',x.shape)

print('The type of the data is ',type(x))

bool_series = pd.isnull(data["battery_power"])
missing_values_count = bool_series.sum()

print("Count of missing values in the 'Team' column:", missing_values_count)

print(bool_series)

8000
2000
42000
The shape of the data is  (2000, 21)
The X shape of the data is  (2000, 4)
The type of the data is  <class 'pandas.core.frame.DataFrame'>
Count of missing values in the 'Team' column: 0
0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Name: battery_power, Length: 2000, dtype: bool